/* Clase para desaparecer elementos escondidos
   -----> Se le añade a los elementos desde el DOM de Java Script */
.hide{
    display: none !important;
}


.bg-body-tertiary {
    border-bottom: 1px solid #0d6efd;
}
footer{
    width: 100%;
    border-top: 1px solid #0d6efd;
    background-color:#f8f9fa;
}
.cardAll{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.container p{
    padding-top: 1.2rem;
    text-align: center;
    font-size: 14px;
}

