.bg-body-tertiary {
    border-bottom: 1px solid #0d6efd;
}
footer{
    position: fixed;
    bottom: 0px !important;
    width: 100%;
    border-top: 1px solid #0d6efd;
}
.cardAll{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.container p{
    padding-top: 1.2rem;
    text-align: center;
    font-size: 14px;
}

